body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
}

#container {
  margin: auto;
  width: max-content;
  border: 1px solid black;
}

.button {
  width: max-content;
  margin: 0 auto;
}

.square {
  flex: 1 1;
  height: 30px;
  box-sizing: border-box;
}

.row {
  width: 480px;
  display: flex;
}